<!DOCTYPE html>
<html>
  <head>
    <title>Tablelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    <link rel="icon" href="https://tablelog-seed.s3.us-west-1.amazonaws.com/icon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
